<!-- Generated template for the MessageAbstract component -->
<div *ngIf="!imgRetrieved">

  <div >
    <p>{{message.msgBody}}</p>
    <br/>
    <button ion-button icon-only (click)="getImage()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </div>

  <!--
  <div *ngIf="intentType == 1">
    <p>{{message.msgBody}}</p><br/>
    <button ion-button icon-only (click)="getVideo()">
      <ion-icon name="videocam"></ion-icon>
    </button>
  </div>

  <div *ngIf="intentType > 1 || intentType < 0">
    <p>{{message.msgBody}}</p><br/>
    <small text-center>Elige una:</small><br/>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-only (click)="getImage()">
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="getVideo()">
            <ion-icon name="videocam"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  -->

</div>

<div *ngIf="imgRetrieved">
  <p>Esta es la foto que has sacado: </p>
  <br/>
  <img *ngFor="let base64ImageString of base64ImagesString"
    [src]="base64ImageString | domseguro:'data:image/jpeg;base64,'"
    class="responsive" />
  <hr/>
  <div *ngIf="!isAllDone">
  <p>¿Enviar imagenes?</p>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button (click)="sendImage()">
          Sí
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left (click)="getImage()">
          Añadir más imagenes
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

</div>
<!--
<div *ngIf="videoRetrieved">
  <p>Esta es el video que he sacado: </p><br/>
  <video #videoOutput controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" width="200" height="160"></video>
  <hr/>
  <p>Está bien?</p>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button  (click)="sendVideo()">
          Sí
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left (click)="getVideo()">
          No, repetir
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
-->
